:root {
	--bodyWidth: calc(100vw - (100vw - 100%));
	--fontSerif: 'Times New Roman', Times, serif;
	--fontSansSerif: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--fontCursive: cursive;
}

#root {
	width: var(--bodyWidth);
}

body {
	/* Font/Text */
	font-family: var(--fontSansSerif);
}

