:root {
	--bodyWidth: calc(100vw - (100vw - 100%));
	--serifFont: 'Times New Roman', Times, serif;
	--sansserifFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#root {
	width: var(--bodyWidth);
}

body {
	font-family: var(--sansserifFont);
}
